.fa.close-btn-icon-03 {
  background: url("../images/close/close_button_03.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-04 {
  background: url("../images/close/close_button_04.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-05 {
  background: url("../images/close/close_button_05.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-06 {
  background: url("../images/close/close_button_06.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-07 {
  background: url("../images/close/close_button_07.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-08 {
  background: url("../images/close/close_button_08.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-09 {
  background: url("../images/close/close_button_09.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-10 {
  background: url("../images/close/close_button_10.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-11 {
  background: url("../images/close/close_button_11.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-12 {
  background: url("../images/close/close_button_12.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-13 {
  background: url("../images/close/close_button_13.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-14 {
  background: url("../images/close/close_button_14.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-15 {
  background: url("../images/close/close_button_15.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-16 {
  background: url("../images/close/close_button_16.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
.fa.close-btn-icon-17 {
  background: url("../images/close/close_button_17.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
h1,
.ve-h1,
h2,
.ve-h2,
h3,
.ve-h3,
.ve-h4,
.ve-h5,
.ve-h6,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
}
