.ve-ajax-form .widefat {
  width: 100%;
}
.ve-ajax-form .submit {
  clear: both;
}
.ve-popup-settings .small-input label {
  line-height: 25px;
  float: left;
  margin-right: 5px ;
}
.ve-popup-settings .small-input input {
  width: 50px;
  float: left;
  margin-right: 30px;
}
.ve-popup-settings .small-input input:last-child {
  margin-right: 0;
}
