.ve_element {
  display: block;
  position: relative;
}
.ve_element .ve_empty-element {
  min-height: 100px;
  cursor: pointer;
  position: relative;
}
.ve_element .ve_empty-el {
  min-height: 50px;
  cursor: pointer;
}
.ve_element .ve_cutting {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.ve_element:hover .ve_element-ve_col:before,
.ve_element.ve_hover .ve_element-ve_col:before,
.ve_sorting .ve_element .ve_element-ve_col:before {
  outline: 1px dashed #ebebeb;
}
.ve_sorting .ve_element .ve_element-ve_col .ui-sortable {
  min-height: 100px;
}
.ve_element-ve_row {
  margin-bottom: 20px;
}
.ve_element-ve_row:hover .ve_row {
  outline: 1px dashed #00c800 !important;
}
.ve_element-ve_row:hover .ve_controls {
  display: inline-block;
}
.ve_element-ve_row > .ve_controls {
  right: auto;
  left: -15px;
  top: auto;
  bottom: -20px;
  margin: 0px;
}
.ve_element-ve_row .ve_element-ve_col > .ve_controls {
  right: 0;
  left: auto;
  margin: 0px;
  top: -20px;
}
.ve_controls {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 20px;
  z-index: 1004;
  display: none;
  visibility: visible;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -15px;
  color: #fff;
}
.ve_controls .inner {
  display: inline-block;
  background: rgba(0, 200, 0, 0.4);
}
.ve_controls .inner:hover {
  background: #00c800;
}
.ve_controls .control-clear {
  clear: both;
  float: none;
  padding: 0;
  margin: 0;
}
.ve_controls .control-item {
  display: inline-block;
  padding: 0 4px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  float: left;
}
.ve_selected.ve_element-ve_col {
  outline: 1px dashed red !important;
}
.ve_selected.ve-el {
  outline: 1px dashed red !important;
}
#ve_no_content_helper {
  text-align: center;
}
#ve_no_content_helper .ve_buttons {
  margin-top: 60px;
  border: 1px dashed rgba(125, 125, 125, 0.4);
  padding: 12px 10px 5px;
  height: 50px;
}
#ve_no_content_helper .ve_buttons .ve_add_element_btn {
  height: 40px;
}
.ve_helper {
  width: auto !important;
  height: auto !important;
  box-sizing: border-box;
  z-index: 1006;
  position: absolute;
  padding: 4px 15px 4px 30px;
  border: 1px solid #afd23e;
  vertical-align: middle;
  color: #0e013b;
  font-size: 24px;
  background: #003399;
}
.ve_placeholder-element {
  max-height: 100px;
}
.ve_placeholder-row,
.ve_helper-ve_row {
  background: #fecac2;
}
.ve_placeholder-element,
.ve_helper-ve_text {
  background: #c1e2b3;
}
.ve_placeholder-col,
.ve_helper-ve_col {
  background: #ffec8b;
}
