#ve-panel {
  position: fixed;
  padding-left: 0px;
  width: 75px;
  height: 100%;
  border: none;
  background: #91c46b;
  top: 60px;
  z-index: 1001;
}
#ve-panel.Popup {
  background: #fb8205;
}
#ve-panel.Popup .element-list .element-list-item div {
  color: #d96000;
}
#ve-panel.Widget {
  background: #1f65e4;
}
#ve-panel.Widget .element-list .element-list-item div {
  color: #0043c2;
}
#ve-panel .panel-items ul,
#ve-panel .panel-items li {
  margin: 0;
  padding: 0;
}
#ve-panel .panel-items .panel-item {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}
#ve-panel .panel-items .panel-item ul {
  height: 100%;
}
#ve-panel .ve_message {
  display: none;
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 20px 20px 60px;
  text-align: center;
  top: 100px;
  left: 50%;
  width: 200px;
  z-index: 1300;
  margin-left: -100px;
  background: #91c46b;
  color: #ffffff;
  border-radius: 35px;
}
#ve-panel .ve_message i {
  position: absolute;
  left: 2px;
  font-size: 63px;
  top: -2px;
}
#ve-panel .ve_message.error {
  background: #EBE4C7;
  border-bottom: 1px solid #DDD2B3;
  color: #938D7C;
}
#ve-panel .element-list {
  height: 100%;
  margin: 5px 0;
}
#ve-panel .element-list .element-list-item div {
  cursor: move;
  color: #57893e;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
}
#ve-panel .element-list .element-list-item div:hover {
  color: #d58449;
}
#ve-panel .element-list .element-list-item div span {
  display: block;
  text-align: center;
  font-size: 12px;
}
#ve-panel .element-list .element-list-item div span.icon {
  font-size: 40px;
}
#ve-panel .ve-form-wrapper {
  height: auto;
  width: auto;
  min-width: 730px;
  min-height: 250px;
  padding: 0;
  background: #ffffff;
  z-index: 1002;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  display: none;
  border-radius: 4px;
}
#ve-panel .ve-form-wrapper .form-header {
  padding: 15px;
  background: #91c46b;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#ve-panel .ve-form-wrapper .form-header .form-title {
  margin: 0 0 0 10px;
  color: #ffffff;
}
#ve-panel .ve-form-wrapper .form-header .form-close-icon {
  color: #fff;
  height: 29px;
  line-height: 29px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 29px;
}
#ve-panel .ve-form-wrapper .form-header .form-close-icon:before {
  content: "\f057";
  font: 20px/29px "FontAwesome";
}
#ve-panel .ve-form-wrapper.show {
  display: block;
  height: auto !important;
}
#ve-panel .ve-form-wrapper .loading-indicator {
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.3;
  position: absolute;
  display: none;
}
#ve-panel .ve-form-wrapper .loading-indicator .loading-inner {
  background: none repeat scroll 0 0 #fff;
  margin: -90px auto auto;
  top: 50%;
  width: 200px;
  position: relative;
}
#ve-panel .ve-form-wrapper .loading-indicator .loading-inner .spinner {
  background-image: url("img/ajax-loader-1.gif");
  background-size: cover;
  height: 90px;
  width: auto;
  margin: 0;
}
#ve-panel .ve-form-wrapper.loading-content .loading-indicator {
  display: block;
}
#ve-panel .ve-form-wrapper.loading-content #ve-element-form {
  opacity: 0.2;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content {
  overflow: hidden;
  height: auto;
  max-height: 450px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content.ve_row {
  margin: 0;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content input:focus {
  outline: none;
  box-shadow: none;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content input,
#ve-panel .ve-form-wrapper #ve-element-form .form-content textarea,
#ve-panel .ve-form-wrapper #ve-element-form .form-content select {
  border-radius: 4px;
  border: 2px solid #91c46b;
  color: #877;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content input.small,
#ve-panel .ve-form-wrapper #ve-element-form .form-content textarea.small,
#ve-panel .ve-form-wrapper #ve-element-form .form-content select.small {
  height: 30px;
  width: 40px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content input.medium,
#ve-panel .ve-form-wrapper #ve-element-form .form-content textarea.medium,
#ve-panel .ve-form-wrapper #ve-element-form .form-content select.medium {
  height: 35px;
  width: 120px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content input.long,
#ve-panel .ve-form-wrapper #ve-element-form .form-content textarea.long,
#ve-panel .ve-form-wrapper #ve-element-form .form-content select.long {
  height: 35px;
  width: 200px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content input.xlong,
#ve-panel .ve-form-wrapper #ve-element-form .form-content textarea.xlong,
#ve-panel .ve-form-wrapper #ve-element-form .form-content select.xlong {
  height: 40px;
  width: 300px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .ve_input_block {
  margin: 1em 0;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  background: #fff;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-nav {
  width: 100px;
  padding: 10px;
  float: left;
  height: 100%;
  display: block;
  position: absolute;
  background: #e6e6e5;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-nav li {
  float: none;
  display: block;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-panel {
  margin-left: 120px;
  max-height: 420px;
  overflow-y: auto;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-panel label {
  min-width: 140px;
  display: inline-block;
  font-style: italic;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-panel input.medium,
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-panel select.medium,
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-panel .select2-selection--single {
  border-radius: 5px;
  border: 2px solid #91c46b;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-panel input.medium {
  min-width: 200px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-content .element-form-tabs .ui-tabs-panel select.medium {
  min-width: 150px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-control {
  display: none;
  margin-top: 15px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 120px;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-control input {
  background: #91c46b;
  color: #fff;
  border: none;
  min-width: 80px;
  padding: 5px 10px;
  cursor: pointer;
}
#ve-panel .ve-form-wrapper #ve-element-form .form-control input:hover {
  background: #80b35a;
}
#ve-panel .ve-form-wrapper #ve-element-form.content-loaded .form-control {
  display: block;
}
