#ve_row-layout-dialog {
  width: 420px;
  z-index: 100001;
  top: 90px;
  left: 50%;
}
#ve_row-layout-dialog .ve_row_layout {
  width: 317px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  cursor: pointer;
  padding: 2px;
  margin: 1px 4px 1px 0;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn:hover {
  background-color: #00aeed;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn .icon {
  width: 23px;
  height: 11px;
  background: transparent url('img/layout_sprite.png') left top no-repeat;
  display: inline-block;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn:hover .icon {
  background-position: right top;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_12_12 .icon {
  background-position: left -12px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_12_12:hover .icon {
  background-position: right -12px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_23_13 .icon {
  background-position: left -24px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_23_13:hover .icon {
  background-position: right -24px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_13_13_13 .icon {
  background-position: left -36px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_13_13_13:hover .icon {
  background-position: right -36px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_14_14_14_14 .icon {
  background-position: left -48px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_14_14_14_14:hover .icon {
  background-position: right -48px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_14_34 .icon {
  background-position: left -60px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_14_34:hover .icon {
  background-position: right -60px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_14_12_14 .icon {
  background-position: left -72px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_14_12_14:hover .icon {
  background-position: right -72px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_56_16 .icon {
  background-position: left -84px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_56_16:hover .icon {
  background-position: right -84px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_16_16_16_16_16_16 .icon {
  background-position: left -96px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_16_16_16_16_16_16:hover .icon {
  background-position: right -96px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_16_46_16 .icon {
  background-position: left -108px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_16_46_16:hover .icon {
  background-position: right -108px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_16_16_16_12 .icon {
  background-position: left -120px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_layout-btn.l_16_16_16_12:hover .icon {
  background-position: right -120px;
}
#ve_row-layout-dialog .ve_layout-dialog-switcher .ve_custom-layout-btn {
  background-color: transparent;
  display: block;
  width: auto;
  height: auto;
  margin: 4px 0 3px;
  font-size: 11px;
  text-align: center;
}
#ve_row-layout-update {
  vertical-align: top;
  background: #91c46b none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  min-width: 80px;
  padding: 5px 10px;
}
